body{
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.container{
  width: 100%;
  position: relative;
  height: 200px;
  border: solid red;
  box-sizing: border-box;
}
.pelota{
  height: 100px;
  width: 100px;
  background-color: blueviolet;
  border-radius: 50%;
  transition-duration: 1s;
  position: absolute;
}
.pelota.a{
  background-color: blueviolet;
  left: 0;
}
.pelota.b{
  background-color: cyan;
  right: 0;
}
.container:hover .pelota.a{
  background-color: coral;
  width: 200px;
  height: 200px;
  right: 100%;
  left: calc(100% - 200px);
}
.container:hover .pelota.b{
  background-color: springgreen;
  width: 200px;
  height: 200px;
  right: calc(100% - 200px);
}
.cajacheems{
  background-color: sandybrown;
  width: 200px;
  height: 200px;
  margin: 50px;
}
.cajacheems video{
  width: 100%;
  height: 100%;
  opacity: 0%;
  transition-duration: 1s;
}
.cajacheems:hover video{
  opacity: 100%;
}