body{
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.container{
  width: 100%;
  position: relative;
  height: 200px;
  border: solid red;
  box-sizing: border-box;
  margin: 10px;
}
.pelota{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  transition-duration: 1s;
  position: absolute;
}
.pelota.a{
  background-color: blueviolet;
  left: 0;
}
.pelota.b{
  background-color: cyan;
  right: 0;
}
.container:hover .pelota.a{
  background-color: coral;
  width: 200px;
  height: 200px;
  left: calc(100% - 200px);
}
.container:hover .pelota.b{
  background-color: springgreen;
  width: 200px;
  height: 200px;
  right: calc(100% - 200px);
}
.cajacheems{
  background-color: sandybrown;
  width: 200px;
  height: 200px;
  margin: 50px;
}
.cajacheems video{
  width: 100%;
  height: 100%;
  opacity: 0%;
  transition-duration: 1s;
}
.cajacheems:hover video{
  opacity: 100%;
}
.rotatingballs{
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  position: relative;
  border: solid orange;
}
.ball{
  height: 130px;
  width: 130px;
  border-radius: 50%;
  transition-duration: 1s;
  position: absolute;
}
.ball.a{
  left: 0;
  background-color: darkcyan;
}
.ball.b{
  right: 0;
  top: 0;
  background-color: dodgerblue;
}
.ball.c{
  background-color: palegoldenrod;
  left: 0;
  bottom: 0;
}
.ball.d{
  background-color: tomato;
  right: 0;
  bottom: 0;
}
.rotatingballs:hover .ball.a{
  background-color: red;
  left: calc(100% - 130px);
}
.rotatingballs:hover .ball.b{
  background-color: blue;
  top: calc(100% - 130px);
}
.rotatingballs:hover .ball.c{
  background-color: green;
  bottom: calc(100% - 130px);
}
.rotatingballs:hover .ball.d{
  background-color: yellow;
  right: calc(100% - 130px);
}
.containercube {
  margin: 0 0 0 10px;
  height: 600px;
  border: solid red;
}
.cube{
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background-color: teal;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  animation-name: animation-cube;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  position: relative;
}
@keyframes animation-cube{
  0%{
    top: 0;
    transform: scale(1);
  }
  5%{

  }
  80%{
    transform: scale(0.9, 1.2);
    top: calc(90% - 300px);
  }
  100%{
    top: calc(100% - 250px);
    transform: scale(1.2, 0.8);
  }
}
.box-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 200px;
  height: 350px;
}
.box{
  background-color: purple;
  margin: 50px;
  width: 100px;
  height: 100px;
  transition-duration: 2s;
}
.box-grow{
  background-color: salmon;
  width: 200px;
  height: 200px;
  margin: 0;
  transform: rotate(360deg);
}
.box-initial{
  background-color: purple;
  margin: 50px;
  width: 100px;
  height: 100px;
  transition-duration: 2s;
}
#button-box{
  margin: 10px;
  height: 30px;
}
.shaking-box{
  width: 250px;
  height: 250px;
  margin: 20px;
  background-color: seagreen;
} 
.shaking-box:hover{
  animation-name: shake;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}